body{
background-color: var(--accent-pink);
padding: .6rem 2rem;
font-family: inherit;
font-size: inherit;
color:inherit;
border-radius: 20px;
outline: none;
border:none;
cursor: pointer;
}

a{
    display: grid;
    grid-template-columns: repeat(2,1fr);

    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
}
