.message-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.m-para{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
}

p{
    @keyframes identifier {
        
    }
    animation: move 5s infinite;
    transform: translateY();
}
